<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}

  

<style>
html {
  visibility: hidden;
  opacity: 0;
}

p, pre {
  text-align: justify;
  --justif-hanging-punctuation: none;
  --justif-protrusion: false;
  content-visibility: auto;
  contain-intrinsic-size: auto 8em;
}

</style>


</head>
<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  
  <main>
    {{ block "main" . }}{{ end }}
  </main>

  <footer>
    {{ partial "footer.html" . }}
  </footer>


  <script
    type="module"
    src="https://cdn.jsdelivr.net/npm/justif@0.8.1/dist/auto.js"
    integrity="sha384-JGV7LEbpiA27cZO7Z4PZFZsoqyVT/6C3la6FrO2Auzbuik8/JEigN7RswC6iyaGA"
    crossorigin="anonymous"
  ></script>

  <script type="module">
    document.addEventListener("DOMContentLoaded", () => {
      setTimeout(() => {
        document.documentElement.style.visibility = "visible";
        document.documentElement.style.opacity = "1";
      }, 50); 
    });
  </script>
</body>
</html>   
